.center_block{
    /*display: inline-block;*/
    vertical-align: center;
    justify-content: center;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    text-align: center;
    flex-direction: column;
}

.center_block_login{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*padding: 20px;*/
    /*margin-left: 10px;*/
}

.padding_login{
    padding: 15px;
}

.outer_block{
    display: flex;
    align-items: flex-start;
    /*display: inline-block;*/
}

.outer_block_red{
    display: flex;
    align-items: flex-start;
    /*display: inline-block;*/
    color:#e65154;
}

.search_field{
    text-align: center;
    margin-top: 10px;
    background: #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    /*border-color: #4c4b4b;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.search_input{
    vertical-align: center;
    justify-content: center;
}
.search_filter{
    vertical-align: center;
    justify-content: left;
    width: auto;
}

.vertical_blocks{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.block_vertical{
    display: flex;
    margin-top: 30px;
    /*margin-bottom: 30px;*/
    /*padding-top: 30px;*/
    vertical-align: middle;
}

.middle_block_list{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    text-align: center;
}

.middle_block_post{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
    text-align: center;
}

.block_book{
    /*display: inline-block;*/
    display: flex;
    /*flex-direction: row;*/
    justify-content: left;
    float: left;
    text-align: left;
    margin-top: 40px;
    /*margin-left: 50px;*/
    margin-left: 0px;
    left:0px,
    /*margin-right: 100px;*/
}

.block_book_param{
    display: inline-block;
    float: left;
    justify-content: left;
    text-align: left;
    max-width: 450px;
    /*margin-left: 50px;*/
    margin-right: 250px;
    margin-top: 0;
}

.block_author{
    display: flex;
    width: 50%;
    text-align: left;
    margin-left: 20%;
    /*justify-content: center;*/
    flex-direction: column;
    margin-top: 20px;
}

.author_title{
    font-size: 40px;
    /*float: inside;*/
}

.author_about{
    margin-top: 10px;
    font-size: 20px;
    color: #4c4b4b;
}

.block_author_2{
    /*display: flex;*/
    /*flex-direction: row;*/
}

.author_title_books{
    font-size: 30px;
    font-weight: 580;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author_inf{
    /*margin-top: 5px;*/
    margin-bottom: 10px;
}














.block_profile{
    display: flex;
    width: 50%;
    text-align: left;
    margin-left: 20%;
    /*justify-content: center;*/
    flex-direction: column;
    margin-top: 20px;
}


.profile_name{
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile_email{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.profile_bookmark{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}