.center_block{
    vertical-align: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}

.outer_block{
    display: flex;
    align-items: flex-start;
    /*display: inline-block;*/
}

.search_field{
    vertical-align: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}