.img_logo{
    height: 25px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;
}

.img_book{
    /*display: flex;*/
    justify-content: center;
    width: 360px;
    height: 500px;
    /*float: left;*/
}