.center_div {
    justify-content: center;
    text-align: center;
}

.info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}