.main_div{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.btn{
    font-size: 25px;
}

.invested_div{
    margin: 20px;
    color: #020707;
    text-decoration: none;
    font-size: 22px;
}

.invested_div:hover{
    color: #e65154;
}
